<h1>My Favorite Orgs</h1>
  <ul>
    {{#each model as |org|}}
      <li>
        <span {{action 'addToFavorites' org}}>
          [ Favorite ]
        </span>
        {{link-to org.id 'org' org.id}}
      </li>
    {{/each}}
  </ul>
{{outlet}}
